.btn,
.jumbotron,
.nav :hover {
  border-radius: 5px;
}

body {
  background: #343a40;
  min-height: calc(100vh-20px);
  display: flex;
  flex-direction: column;
  scroll-behavior: auto;
  
}
.flex-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.form-group{
  width: 100%;
}

.custom-photo{
width: 100%;
margin-bottom: 0.25rem;
}

.form-control{
  margin-bottom: 0.5rem;
}

.footer {
  margin-top: auto;
  /* position: absolute;
  bottom: 9px;
  width:100%; */
  /* left: 0px;
  right: 0px; */
}
.userD{
  display: flex;
justify-content: center;
}
.payment-mobile{
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
   .mobile-home{
    display: flex;
    flex-direction: column;
   }
   .mobile-card{
    width: 100%;
   }
   .row{
    padding-right: 0;
   }
   .payment-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .col-6{
    flex: 1 1 auto;
   }
   .btn-mob{
    width: 100%;
   }
   .mob-6{
    width: 100%;
   }
}

